<!DOCTYPE html>
<html>
	<head>
		<title>
			InfoVotantes
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	</head>

	<body>
		<div class="container text-center">
			<h5 style="margin-top:30px">Bienvenido
			</h5>
			<h1>INFOVOTANTES</h1>
			<h5>Seleccione el tipo de consulta que desea realizar</h5>

			<div class="card-deck " style="padding-top: 100px;">

				<a type="button" class="card" href="/registraduria/inscripciones">
					<svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="240" height="240" viewbox="0 0 48 48" style=" fill:#undefined;">
						<polygon fill="#f55376" points="37,6 11,6 11,30 24,36 37,42"></polygon>
						<polygon fill="#f55376" points="11,6 37,6 37,30 24,36 11,42"></polygon>
						<polygon fill="#eb0000" points="11,6 11,30 24,36 37,30 37,6"></polygon>
						<g>
							<path fill="#3ddab4" d="M37,34c-5.522,0-10-4.478-10-10s4.478-10,10-10s10,4.478,10,10S42.522,34,37,34z"></path>
							<path fill="#c1f5ea" d="M39,30h-4V18h4V30z"></path>
							<path fill="#c1f5ea" d="M31,26v-4h12v4H31z"></path>
							<rect width="4" height="4" x="35" y="22" fill="#fff"></rect>
						</g>
					</svg>
					<div class="card-body">
						<h5 class="card-title text-center">
							Inscribir Cedula
						</h5>
					</p>
				</div>
			</a>

			<a type="button" class="card" href="/registraduria/votaciones">
				<svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="240" height="240" viewbox="0 0 48 48" style=" fill:#undefined;">
					<path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
					<path fill="#ccff90" d="M34.602,14.602L21,28.199l-5.602-5.598l-2.797,2.797L21,33.801l16.398-16.402L34.602,14.602z"></path>
				</svg>
				<div class="card-body">
					<h5 class="card-title text-center">
						Votar
					</h5>
				</div>
			</a>

			<a type="button" class="card" href="/registraduria/informes">
				<svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="240" height="240" viewbox="0 0 48 48" style=" fill:#undefined;">
					<path fill="#FF5722" d="M32,15v28H10c-2.2,0-4-1.8-4-4V15H32z"></path>
					<path fill="#FFCCBC" d="M14,5v34c0,2.2-1.8,4-4,4h29c2.2,0,4-1.8,4-4V5H14z"></path>
					<path fill="#FF5722" d="M20 10H38V14H20zM20 17H28V19H20zM30 17H38V19H30zM20 21H28V23H20zM30 21H38V23H30zM20 25H28V27H20zM30 25H38V27H30zM20 29H28V31H20zM30 29H38V31H30zM20 33H28V35H20zM30 33H38V35H30zM20 37H28V39H20zM30 37H38V39H30z"></path>
				</svg>
				<div class="card-body">
					<h5 class="card-title text-center">
						Informes
					</h5>
				</div>
			</a>
		</div>
	</body>
</html></div></body</html>><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></html>
